# Mandatories

# Passoword of root on MySQL
MYSQL_ROOT_PASSWORD='mysqlrootpassword'

# DB name for wordpress on MySQL
MYSQL_DATABASE='mysqldtabase'

# User name for wordpress on MySQL
MYSQL_USER='mysqluser'

# Password of a user for wordpress on MySQL
MYSQL_PASSWORD='wordpress'

# Domain name of web server
DOMAIN_NAME='localhost'

# Title of a website
WORDPRESS_TITLE='EXAMPLE'

# Email of an admin user of Wordpress
WORDPRESS_EMAIL='info@example.com'

# The path of certifications for SSL
CERTS_='./.certs'
